<footer class="page-footer dark">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <h5><strong>About Us</strong></h5>
                <ul>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h5>About us</h5>
                <ul>
                    <li><a href="#">Contact Us&nbsp;</a></li>
                    <li><a href="#">Contact&nbsp; us</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h5><strong>About Us</strong></h5>
                <ul>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h5><strong>About Us</strong></h5>
                <ul>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <p>&nbsp;UNiQ - Ranveer</p>
    </div>
</footer>
<!-- End: Footer Dark -->
<script src="../assets/js/jquery.min.js"></script>
<script src="../assets/bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
<script src="../assets/js/smoothproducts.min.js"></script>
<script src="../assets/js/theme.js"></script>

</body>

</html>