<!DOCTYPE html>
<html class="text-success">

<%- include("partials/header1")  %>

<main class="page landing-page">
    <section class="clean-block clean-hero" style="color: rgba(9, 162, 255, 0.85);background: url(../assets/img/tech/30798.jpg);background-size: cover;">
        <div class="text-black-50 text">
            <h2 class="text-black-50">Lorem ipsum dolor sit amet.</h2>
            <p class="text-black-50">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p><button class="btn btn-outline-light btn-lg" type="button">Learn More</button></div>
    </section>
    <section class="clean-block clean-info dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">ANIME</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
            </div>
            <div class="row align-items-center">
                <div class="col-md-6"><img class="img-thumbnail" src="../assets/img/scenery/Naruto_Shippuuden_panels_Kakuzu_Hidan_Orochimaru_Hoshigaki_Kisame_Uchiha_Itachi_Tobi-234388.jpg"></div>
                <div class="col-md-6">
                    <h3>Lorem impsum dolor sit amet</h3>
                    <div class="getting-started-info">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div><button class="btn btn-outline-primary btn-lg" type="button">Join Now</button></div>
            </div>
        </div>
    </section>
</main>
    <!-- Start: Footer Dark -->
<%- include("partials/footer")  %>